<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

	<listeners>
		<listener class-name="E2E_Project.listners" />
	</listeners>


	<test thread-count="5" name="Test-Navigation Menu">
		<classes>
			<class name="E2E_Project.navigationMenu" />


		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Test-Browser Initilization">
		<classes>

			<class name="E2E_Project.startBrowser" />

		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Test-Validated Title">
		<classes>

			<class name="E2E_Project.validateTitle" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
